:root {
  --main-bg: #828283;
  --bg-table: #fcfcfd;
  --gray: #a0a7b1;
  --th-background: #f4f5fc;
  --gray-background: #edeef1;
  --gray-mid: #f1f2f6;
}

body {
  font-family: sans-serif;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  background-color: var(--main-bg);
}

/* Estilos scrollbar */
.table::-webkit-scrollbar {
  height: 12px;
}

.table::-webkit-scrollbar-track {
  background: var(--gray-mid);
  border-radius: 6px;
}

.table::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 5px;
}

/* Estilos para el contenedor padre */
.table-container {
  border-radius: 20px;
  background-color: var(--bg-table);
  padding: 24px;
  width: 90%;  
  max-width: 900px;
}

/* Estilos de la cabecera de la table con el stock */
.caption-container {
  font-size: 1.12rem;
  font-weight: 700;
  text-align: left;
  padding-bottom: 16px;
  border-bottom: 2px solid var(--gray-background);
  display: flex;
  width: 100%;
  align-items: center;
}

.table-row-count {
  font-size: 0.8rem;
  font-weight: 700;
  background-color: var(--gray-mid);
  padding: 8px;
  display: inline-flex;
  align-items: center;
  margin-left: 16px;
  border-radius: 8px;
}

/* contenedor padre de la tabla */
.table {
  overflow-y: auto;
  padding-bottom: 8px;
}

.table table {
  border-collapse: collapse;
}

/* cabecera de la tabla */
.table th {
  padding: 12px 12px 12px 8px;
  font-size: 0.875rem;
  color: var(--gray);
  width: fit-content;
  white-space: nowrap;
  background-color: var(--th-background);
}

/* celda de la tabla */
.table td {
  text-align: center;
  padding: 12px 12px 12px 8px;
  white-space: nowrap;
  border-bottom: 2px solid var(--gray-background);
}

/* estilo para que la primera columna se quede pegado a la izquierda */
.sticky-left {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--bg-table);
}

/* estilo para que la ultima columna se quede pegado a la derecha */
.sticky-right {
  position: sticky;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--bg-table);
}

/* estilos secundarios */
.sticky-right button {
  border-radius: 12px;  
  color: #000;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 10px 16px;
}

.sticky-right .btn-delete{
  background-color: rgb(243, 74, 74);
}

.sticky-right .btn-edit{
  background-color: rgb(192, 194, 61);
}


/* paginacion */
.pages-container{
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

.page-span{
    cursor: pointer;
    display: flex;
    padding: 10px;
    background-color: #828283;
    border-radius: 5px;
    color: #fff;
}